<h1 class="text-center text-info">Add Client Page</h1>
<div class="container col-md-6 ">
  <div class="card">
    <div class="card-body text-light bg-dark">
      <div class="form-group">
        <label> Client Name </label>
        <input #empName='ngModel' required [(ngModel)]="object.name" placeholder="your Name" type="text"
          class="form-control">
      </div>

      <div *ngIf="empName.touched && empName.invalid"
        class="alert alert-danger">
        Please Enter Valid Name
      </div>

      <div class="form-group">
        <label>Client Position </label>
        <input #empPosition='ngModel' required [(ngModel)]="object.position" placeholder="Employee position" type="text"
          class="form-control">
      </div>

      <div *ngIf="empPosition.touched && empPosition.invalid "
        class="alert alert-danger">
        Please Enter Valid Position
      </div>
      <div *ngIf="empName.valid && empPosition.valid">
        <button (click)="save()" class="btn btn-info btn-block w-50 mx-auto">
          Send Data
        </button>
      </div>
      <div *ngIf="empName.invalid && empPosition.invalid">
        <button disabled class="btn btn-info btn-block w-50 mx-auto">
          Send Data
        </button>
      </div>

    </div>
  </div>
</div>
